/* Loading au chargement de la page d'accueil */

.loadingspinner{
    animation-name: loading;
    animation-duration: 250ms;
    animation-delay: 3000ms;
    animation-fill-mode: forwards;
}

@keyframes loading{
    to{
        opacity: 0;
        z-index: -4;
    }
}

/* Animation du loader */

@keyframes ldio-2jha816hf44 {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-2jha816hf44 div > div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: linear-gradient(#FF79DA, #9356DC);
  animation: ldio-2jha816hf44 1s linear infinite;
}.ldio-2jha816hf44 div:nth-child(1) > div {
  left: 148px;
  top: 88px;
  animation-delay: -0.875s;
}
.ldio-2jha816hf44 > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px;
}.ldio-2jha816hf44 div:nth-child(2) > div {
  left: 130px;
  top: 130px;
  animation-delay: -0.75s;
}
.ldio-2jha816hf44 > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 142px 142px;
}.ldio-2jha816hf44 div:nth-child(3) > div {
  left: 88px;
  top: 148px;
  animation-delay: -0.625s;
}
.ldio-2jha816hf44 > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 160px;
}.ldio-2jha816hf44 div:nth-child(4) > div {
  left: 46px;
  top: 130px;
  animation-delay: -0.5s;
}
.ldio-2jha816hf44 > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 58px 142px;
}.ldio-2jha816hf44 div:nth-child(5) > div {
  left: 28px;
  top: 88px;
  animation-delay: -0.375s;
}
.ldio-2jha816hf44 > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 40px 100px;
}.ldio-2jha816hf44 div:nth-child(6) > div {
  left: 46px;
  top: 46px;
  animation-delay: -0.25s;
}
.ldio-2jha816hf44 > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 58px 58px;
}.ldio-2jha816hf44 div:nth-child(7) > div {
  left: 88px;
  top: 28px;
  animation-delay: -0.125s;
}
.ldio-2jha816hf44 > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 40px;
}.ldio-2jha816hf44 div:nth-child(8) > div {
  left: 130px;
  top: 46px;
  animation-delay: 0s;
}
.ldio-2jha816hf44 > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 142px 58px;
}
.loadingio-spinner-spin-1w873ivxjim {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-2jha816hf44 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.ldio-2jha816hf44 div { box-sizing: content-box; }

/* Animation du bouton explorer nos restaurants */

.search:hover{
    transform: scale(1.1);
    opacity: 0.9;
    box-shadow: 0 0 20px #c1c1c1;
}

.search{
    transition: transform 200ms ease-in;
}

/* Animation du bouton commander */

.commander:hover{
    transform: scale(1.1);
    opacity: 0.9;
    box-shadow: 0 0 20px #c1c1c1;
}

.commander{
    transition: transform 200ms ease-in;
}

/* Animation des blocs fonctionnement sur la page d'acceuil */

.blocfonction:hover{
    background-color: rgba(147, 86, 220, .15);;
}

.blocfonction:hover > .iconef{
    color: #9356DC;
}

.blocfonction{
    transition: background-color 200ms ease-in;
}

.iconef{
    transition: color 350ms ease-in;
}

/* Animation des coeurs sur toutes les pages respectives */

.iconeheart:hover > .heart1{
    opacity: 0;
}

.iconeheart:hover > .heart2{
    transform: scale(1.15);
    opacity: 1;
}

.iconeheartresto:hover > .heart1{
    opacity: 0;
}

.iconeheartresto:hover > .heart2{
    transform: scale(1.15);
    opacity: 1;
}

.heart2, .heart1{
    transition: opacity 200ms ease-in;
}

.heart2{
    transition: transform 300ms ease-out;
}

/* Animation du bord coulissant pour valider son plat sur les pages des restaurants */

.blocmenuresto:hover > .checkedgreen{
    margin-right: -15px;
}

.checkedgreen{
    transition-duration: 550ms;
}

/* Animation des plats au chargements des pages des restaurants */

.blocmenuresto, .position, .description, .fonctionnement, .restaurants, .restohover, .footer{
    animation-delay: 150ms;
    opacity: 0;
    position: relative; top: 250px;
    animation-name: progress-bar;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

.h2resto{
  animation-delay: 150ms;
  opacity: 0;
  position: relative; top: 250px;
  animation-name: progress-bar2;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.logo{
  animation-delay: 150ms;
  opacity: 0;
  position: fixed; top: 250px;
  animation-name: progress-bar;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

/* Première section de delay pour la page des restaurants */

.delayanim{
    animation-delay: 300ms;
}
.delayanim1{
    animation-delay: 650ms;
}
.delayanim2{
    animation-delay: 500ms;
}
.delayanim3{
    animation-delay: 750ms;
}
.delayanim4{
    animation-delay: 900ms;
}
.delayanim5{
    animation-delay: 1050ms;
}
.delayanim6{
    animation-delay: 1300ms;
}
.delayanim7{
    animation-delay: 1500ms;
}
.delayanim8{
    animation-delay: 1650ms;
}

/* Deuxième section de delay pour la page d'accueil */

.delayanimaccueilbase{
  animation-delay: 3100ms;
}
.delayanimaccueil{
  animation-delay: 3400ms;
}
.delayanimaccueil1{
  animation-delay: 3600ms;
}
.delayanimaccueil2{
  animation-delay: 3750ms;
}
.delayanimaccueil3{
  animation-delay: 3850ms;
}
.delayanimaccueil4{
  animation-delay: 4000ms;
}
.delayanimaccueil5{
  animation-delay: 4150ms;
}
.delayanimaccueil6{
  animation-delay: 4400ms;
}
.delayanimaccueil7{
  animation-delay: 4600ms;
}
.delayanimaccueil8{
  animation-delay: 4750ms;
}

@keyframes progress-bar{
    0% {
        top: 250px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes progress-bar2{
  0% {
      top: 250px;
      opacity: 0;
  }
  100% {
      top: 70px;
      opacity: 1;
      z-index: 1;
  }
}

/* Animation de l'icone check dans le bord coulissant */

.iconecheck{
    transform: rotate(180deg);
    transition-duration: 500ms;
    transition-delay: 100ms;
}

.blocmenuresto:hover .iconecheck{
    transform: rotate(360deg);
}